# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.EMM1.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Desktop\markus\imi\semester5\EMM\EMM1\.idea\.idea.EMM1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
